
$bcolor:#000;
$wcolor:#fff;

$phone: '(min-width: 275px) and (max-width: 767px)';
$tablet: '(min-width: 768px) and (max-width: 1024px)';

@mixin respond-to($device){
	@media only screen and #{$device}{
		@content;
	}
}

@include respond-to($phone){
	// Common CSS
	body{overflow-x: hidden;}
	.section-header {
	    width: 90%;
	    margin-bottom: 35px;
	}
	.toggle-content{
		.left-content{
			.sideNav {
			    left: 0 !important;
			}
		}
	}
	.sideNav{
		left: -400px;
	}
	.header{
		.action-bar{padding: 0 10px;}
	}

	.two-col-layout{
		.right-content{
			margin-left: 0;
			#homeCarousel{
				.carousel-control{display: none;}
			}
			.home-category-box{
				.hc-content{
				    padding: 0 15px;
				    .row{margin-bottom: 0;}
				    .category-name{margin-bottom: 10px;}
				}
			}
			.home-banner{
				padding-bottom: 10px;
				.hb-content{
					img{margin-bottom: 10px;}
				}
			}
			.home-product-slider{
				.hp-content{
					.product-thumb-image{
						display: none;
						margin-bottom: 5px;
					}
				}
			}
		}
	}

	footer{
		.social-media-icon {
		    padding: 15px 0;
		}
		.payment-icon{
			ul{
				margin-bottom: 10px;
			    text-align: center;
			}
		}
		.copy-right-text{text-align: center;}
	}

	.floating-cart{
		width: 100%;
		z-index: 55;
		.cart-body{
			.cart-item{
				.photo{
					img{margin-top: 0;}
				}
			}
		}
	}

	// CSS For Collection Page
	.collection{
		.filters {
		    position: fixed;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    background: $wcolor;
		    display: none;
		    padding: 10px 15px;
		    z-index: 10;
		}
	}
}

@include respond-to($tablet){
	// Common CSS
	body{overflow-x: hidden;}
	.section-header {
	    width: 75%;
	}
	.header{
		.action-bar{
			.user-account{
				ul{
					li{padding: 0 7px;}
				}
			}
		}
	}
	.two-col-layout{
		.left-content{
			.sideNav{
			    width: auto;
			}
		}
		.right-content{
			.home-product-slider{
				.hp-content{
					.hp-slider{
						width: 88%;
						.owl-nav{
							.owl-prev{left: -55px;}
							.owl-next{right: -55px;}
						}
					}
				}
			}
		}
	}
}
