@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  overflow-x: hidden; }

body {
  font-family: "Montserrat", sans-serif; }

ul li {
  list-style: none; }

.dropdown:hover > .dropdown-menu {
  display: block; }

a:hover, a:visited, a:focus {
  background-color: transparent;
  text-decoration: none;
  outline: 0; }

.zoomIn:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease; }

.tbtn {
  border-radius: 0;
  display: block;
  padding: 10px 25px;
  text-align: center;
  text-transform: capitalize; }

.btn-transparent {
  background: transparent;
  border: 1px solid #000;
  color: #000; }
  .btn-transparent:hover {
    background: #000;
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }

.btn-tcolor {
  background: #eb0000;
  border: 1px solid #eb0000;
  color: #fff; }
  .btn-tcolor:hover {
    background: #eb0000;
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }

.category-box-btn {
  background: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  color: #000; }
  .category-box-btn:hover {
    background: #fff;
    color: #000;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }

.section-padding {
  padding: 3% 0; }

.section-header {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center; }
  .section-header h2 {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize; }
  .section-header p {
    color: #000;
    margin-top: 10px; }

/* width */
.cart-item::-webkit-scrollbar {
  width: 5px; }

/* Track */
.cart-item::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
.cart-item::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
.cart-item::-webkit-scrollbar-thumb:hover {
  background: #555; }

.show-sidemenu {
  left: 0 !important;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.toggle-content {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .toggle-content .left-content {
    width: 0 !important;
    float: none !important; }
    .toggle-content .left-content .sideNav {
      left: -300px !important;
      width: 0 !important; }
  .toggle-content .right-content {
    width: 100% !important;
    float: none !important; }
    .toggle-content .right-content .home-banner .container {
      padding-left: 15 !important; }

.sidenav-wrapper .sideNav {
  position: fixed;
  top: 50px;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 10;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .sidenav-wrapper .sideNav .menu-sidenav {
    position: fixed;
    height: 100%;
    width: 270px;
    background: #fff;
    overflow-x: hidden;
    z-index: 55;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .sidenav-wrapper .sideNav .menu-sidenav .sidenav-menu-link {
      padding-top: 15px; }
      .sidenav-wrapper .sideNav .menu-sidenav .sidenav-menu-link ul li {
        margin-bottom: 10px;
        padding: 0 25px; }
      .sidenav-wrapper .sideNav .menu-sidenav .sidenav-menu-link a {
        color: #000;
        text-transform: capitalize;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        .sidenav-wrapper .sideNav .menu-sidenav .sidenav-menu-link a:hover {
          color: #eb0000; }
        .sidenav-wrapper .sideNav .menu-sidenav .sidenav-menu-link a span {
          color: #000;
          float: right;
          font-size: 20px;
          font-weight: 600;
          line-height: 16px;
          text-align: center; }
      .sidenav-wrapper .sideNav .menu-sidenav .sidenav-menu-link #second-category {
        margin: 10px;
        border-left: 1px solid #ddd; }
      .sidenav-wrapper .sideNav .menu-sidenav .sidenav-menu-link #third-category {
        margin: 10px;
        border-left: 1px solid #ddd; }
    .sidenav-wrapper .sideNav .menu-sidenav hr {
      border-top: 1px solid #ddd; }
    .sidenav-wrapper .sideNav .menu-sidenav .sidenav-menu-account {
      padding-top: 30px;
      padding-left: 20px;
      padding-right: 20px; }
      .sidenav-wrapper .sideNav .menu-sidenav .sidenav-menu-account ul li {
        margin-bottom: 25px; }
      .sidenav-wrapper .sideNav .menu-sidenav .sidenav-menu-account a {
        color: #000;
        text-transform: capitalize;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        .sidenav-wrapper .sideNav .menu-sidenav .sidenav-menu-account a:hover {
          color: #757575; }
    .sidenav-wrapper .sideNav .menu-sidenav .sidenav-menu-social {
      padding-top: 30px;
      padding-left: 20px;
      padding-right: 20px; }
      .sidenav-wrapper .sideNav .menu-sidenav .sidenav-menu-social ul li {
        margin-bottom: 25px;
        float: left; }
      .sidenav-wrapper .sideNav .menu-sidenav .sidenav-menu-social a {
        color: #000;
        font-size: 22px;
        margin-right: 20px;
        text-transform: capitalize;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        .sidenav-wrapper .sideNav .menu-sidenav .sidenav-menu-social a:hover {
          color: #757575; }
  .sidenav-wrapper .sideNav .sideNav-overlay {
    position: fixed;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #42c5bb;
  z-index: 30; }
  .header .action-bar .sidenav-toggle-btn {
    cursor: pointer;
    padding-top: 13px; }
    .header .action-bar .sidenav-toggle-btn span {
      background: #000;
      width: 25px;
      height: 2px;
      display: block;
      margin-top: 5px;
      margin-left: auto;
      margin-right: auto; }
  .header .action-bar .logo {
    margin-top: 5px; }
  .header .action-bar .searchbox {
    margin-top: 5px; }
    .header .action-bar .searchbox .input-group .form-control {
      height: 40px;
      border-right: 0;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
      .header .action-bar .searchbox .input-group .form-control:focus {
        border-color: #ccc; }
    .header .action-bar .searchbox .input-group .input-group-addon {
      background: #fff;
      padding: 0; }
      .header .action-bar .searchbox .input-group .input-group-addon button {
        color: #afafaf; }
    .header .action-bar .searchbox .input-group button {
      background: transparent;
      border: 0;
      color: #000;
      font-size: 15px;
      padding: 0 10px; }
      .header .action-bar .searchbox .input-group button:hover {
        color: #eb0000;
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease; }
  .header .action-bar .user-account ul {
    margin-bottom: 0; }
    .header .action-bar .user-account ul li {
      height: 50px;
      background: #c52e2e;
      display: inline-block;
      line-height: 50px;
      padding: 0 15px;
      text-transform: capitalize; }
      .header .action-bar .user-account ul li a {
        color: #fff; }

footer {
  background: #f5f5f5;
  color: #000;
  padding: 25px 15px; }
  footer h5 {
    color: #eb0000;
    font-weight: 600; }
  footer ul li a {
    color: #000;
    font-size: 13px;
    text-transform: capitalize; }
  footer .newsletter button {
    height: 40px;
    border-color: #b2b3b5;
    border-radius: 0; }
  footer .newsletter .nl-btn-left {
    border-right: 0; }
    footer .newsletter .nl-btn-left:hover, footer .newsletter .nl-btn-left:active, footer .newsletter .nl-btn-left:focus {
      background: #fff;
      box-shadow: none;
      outline: 0; }
  footer .newsletter .nl-btn-right {
    background: #737376;
    border-color: #737376;
    color: #fff; }
  footer .newsletter .form-control {
    height: 40px;
    border-left: 0;
    box-shadow: none;
    border-color: #b2b3b5; }
  footer .social-media-icon {
    padding: 25px 0; }
    footer .social-media-icon ul {
      text-align: center; }
      footer .social-media-icon ul li {
        display: inline-block;
        margin-right: 20px; }
        footer .social-media-icon ul li a {
          color: #000;
          font-size: 25px; }
          footer .social-media-icon ul li a:hover {
            color: #eb0000; }
  footer .payment-icon ul {
    margin-bottom: 0;
    text-align: right; }
    footer .payment-icon ul li {
      display: inline-block; }

.two-col-layout {
  padding-top: 50px; }
  .two-col-layout .container-fluid {
    padding: 0; }
  .two-col-layout .left-content {
    padding-right: 0; }
    .two-col-layout .left-content .sideNav {
      position: fixed;
      width: 215px;
      height: 100%;
      border-right: 1px solid #ddd; }
      .two-col-layout .left-content .sideNav .menu-sidenav {
        height: 100%;
        width: 100%; }
        .two-col-layout .left-content .sideNav .menu-sidenav .sidenav-menu-link ul {
          margin-bottom: 0; }
          .two-col-layout .left-content .sideNav .menu-sidenav .sidenav-menu-link ul li {
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 25px; }
            .two-col-layout .left-content .sideNav .menu-sidenav .sidenav-menu-link ul li a {
              color: #000;
              text-transform: capitalize;
              -webkit-transition: all 0.4s ease;
              -moz-transition: all 0.4s ease;
              -ms-transition: all 0.4s ease;
              -o-transition: all 0.4s ease;
              transition: all 0.4s ease; }
              .two-col-layout .left-content .sideNav .menu-sidenav .sidenav-menu-link ul li a:hover {
                color: #eb0000; }
              .two-col-layout .left-content .sideNav .menu-sidenav .sidenav-menu-link ul li a span {
                color: #000;
                float: right;
                font-size: 20px;
                font-weight: 600;
                line-height: 16px;
                text-align: center; }
            .two-col-layout .left-content .sideNav .menu-sidenav .sidenav-menu-link ul li:hover {
              /* fallback/image non-cover color */
              background: #fff;
              /* Firefox 3.6+ */
              background: -moz-linear-gradient(left, #fff 5%, #ddd);
              /* Safari 4+, Chrome 1+ */
              background: -webkit-gradient(linear, left top, right top, color-stop(5%, #fff), color-stop(, #ddd));
              /* Safari 5.1+, Chrome 10+ */
              background: -webkit-linear-gradient(left, #fff 5%, #ddd);
              /* Opera 11.10+ */
              background: -o-linear-gradient(left, #fff 5%, #ddd);
              /* IE10+ */
              background: -ms-linear-gradient(left, #fff 5%, #ddd);
              /* Standard */
              background: linear-gradient(to right, #fff 5%, #ddd);
              /* IE6-9 */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$sc', endColorstr='$ec',GradientType=1 ); }
        .two-col-layout .left-content .sideNav .menu-sidenav .sidenav-menu-link hr {
          margin: 10px 0; }
  .two-col-layout .right-content {
    padding-left: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .two-col-layout .right-content #homeCarousel .carousel-control {
      top: 45%;
      width: 40px;
      height: 60px;
      background-image: none;
      color: #000;
      font-size: 40px;
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100); }
    .two-col-layout .right-content #homeCarousel .left {
      left: 0; }
    .two-col-layout .right-content #homeCarousel .right {
      right: 0; }
    .two-col-layout .right-content .home-category-box .hc-content {
      padding: 0 30px; }
      .two-col-layout .right-content .home-category-box .hc-content .row {
        margin-bottom: 15px; }
      .two-col-layout .right-content .home-category-box .hc-content .tbtn {
        padding: 20px; }
    .two-col-layout .right-content .home-banner {
      padding-bottom: 35px; }
      .two-col-layout .right-content .home-banner .hb-content {
        padding: 0 15px; }
    .two-col-layout .right-content .home-product-slider {
      margin-bottom: 40px; }
      .two-col-layout .right-content .home-product-slider .hp-content {
        padding: 0 15px; }
        .two-col-layout .right-content .home-product-slider .hp-content .hp-slider {
          width: 90%;
          margin: 0 auto; }
          .two-col-layout .right-content .home-product-slider .hp-content .hp-slider .item {
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 5px; }
          .two-col-layout .right-content .home-product-slider .hp-content .hp-slider .owl-nav .owl-prev {
            position: absolute;
            top: 40%;
            left: -25px;
            color: #000;
            font-size: 25px; }
            .two-col-layout .right-content .home-product-slider .hp-content .hp-slider .owl-nav .owl-prev:focus {
              outline: 0; }
          .two-col-layout .right-content .home-product-slider .hp-content .hp-slider .owl-nav .owl-next {
            position: absolute;
            top: 30%;
            right: -25px;
            color: #000;
            font-size: 25px; }
            .two-col-layout .right-content .home-product-slider .hp-content .hp-slider .owl-nav .owl-next:focus {
              outline: 0; }

.product {
  text-align: center; }
  .product .name {
    padding: 5px 0; }
    .product .name a {
      color: #000; }
  .product .price {
    padding: 5px 0; }

.back-link .breadcrumb {
  background: #fff;
  margin-left: 15px;
  padding-left: 0; }
  .back-link .breadcrumb a {
    color: #000; }

.collection h4 {
  font-weight: 600;
  text-transform: uppercase; }
.collection .filters .filter-header {
  padding: 10px;
  margin-bottom: 25px; }
  .collection .filters .filter-header .filter-close-icon {
    font-size: 20px; }
.collection .filters .filter-option .panel-group {
  margin-bottom: 10px; }
  .collection .filters .filter-option .panel-group .panel {
    border-radius: 0; }
    .collection .filters .filter-option .panel-group .panel .panel-heading {
      background: #fff; }
      .collection .filters .filter-option .panel-group .panel .panel-heading .panel-title {
        font-weight: 600;
        text-transform: capitalize; }
    .collection .filters .filter-option .panel-group .panel .panel-body {
      border-top: 0; }
      .collection .filters .filter-option .panel-group .panel .panel-body .option {
        position: relative;
        cursor: pointer;
        display: block;
        font-size: 16px;
        margin-bottom: 10px;
        padding-left: 25px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        .collection .filters .filter-option .panel-group .panel .panel-body .option span:nth-child(1) {
          position: relative;
          top: -3px;
          font-size: 12px;
          font-weight: 600;
          text-transform: capitalize; }
        .collection .filters .filter-option .panel-group .panel .panel-body .option input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0; }
        .collection .filters .filter-option .panel-group .panel .panel-body .option .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 16px;
          width: 16px;
          background-color: #fff;
          border: 1px solid #ddd; }
.collection .collection-name {
  margin: 0;
  padding-left: 15px;
  text-transform: uppercase; }
.collection .sort-option {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 0; }
  .collection .sort-option .nav-pills li a {
    padding: 0 15px; }
    .collection .sort-option .nav-pills li a:hover, .collection .sort-option .nav-pills li a:focus {
      background: #fff; }
  .collection .sort-option .nav-pills .acive a {
    background: #fff; }
    .collection .sort-option .nav-pills .acive a:hover, .collection .sort-option .nav-pills .acive a:focus {
      background: #fff; }
  .collection .sort-option .nav-pills .img-4x4 {
    max-height: 30px; }
  .collection .sort-option .nav-pills .img-3x3 {
    max-height: 26px;
    margin-top: 2px; }
  .collection .sort-option select {
    border-radius: 0;
    box-shadow: none;
    width: auto;
    float: right;
    margin-right: 15px; }
  .collection .sort-option .mobile-filter {
    width: 20%;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 5px 10px; }
.collection .collection-products {
  padding: 10px 15px; }
  .collection .collection-products .row {
    margin-bottom: 15px; }

.product-box .photo {
  margin-bottom: 10px; }
.product-box .name {
  margin-bottom: 10px; }
  .product-box .name a {
    color: #000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; }
.product-box .price {
  margin-bottom: 10px; }
  .product-box .price span {
    font-size: 15px;
    font-weight: 700; }

.product-details {
  background: #EEF0F4;
  padding-top: 60px; }
  .product-details .breadcrumb {
    background: transparent;
    padding: 10px 0; }
    .product-details .breadcrumb li + li:before {
      padding: 0 5px;
      color: #ccc;
      content: "\eab8";
      font-family: IcoFont; }
  .product-details .product-info {
    background: #fff;
    -moz-box-shadow: 0 0 2px #ddd;
    -webkit-box-shadow: 0 0 2px #ddd;
    box-shadow: 0 0 2px #ddd; }
    .product-details .product-info .img-control {
      margin: 10px 0; }
      .product-details .product-info .img-control img {
        max-height: 50px;
        display: inline-block; }
    .product-details .product-info .product-text .p-name {
      margin-bottom: 0; }
    .product-details .product-info .product-text .share-option {
      border-bottom: 1px solid #ddd;
      padding: 10px 0; }
      .product-details .product-info .product-text .share-option i {
        color: #ffd700;
        font-size: 10px; }
      .product-details .product-info .product-text .share-option .rating {
        color: #0cbdbd;
        font-size: 10px; }
      .product-details .product-info .product-text .share-option a {
        color: #ababab;
        padding: 0 5px; }
    .product-details .product-info .product-text .variant-list {
      padding: 5px 0; }
      .product-details .product-info .product-text .variant-list ul li {
        display: inline-block;
        margin-right: 7px; }
        .product-details .product-info .product-text .variant-list ul li a {
          border: 1px solid #eb0000;
          color: #000;
          padding: 4px 10px; }
          .product-details .product-info .product-text .variant-list ul li a:hover, .product-details .product-info .product-text .variant-list ul li a:focus {
            background: #eb0000;
            color: #fff; }
    .product-details .product-info .product-text .p-price {
      color: #eb0000;
      font-size: 25px;
      margin: 20px 0; }
    .product-details .product-info .product-text .quantity-btn {
      margin-top: 20px;
      margin-bottom: 15px; }
      .product-details .product-info .product-text .quantity-btn .q-text {
        color: #ababab;
        float: left;
        line-height: 30px; }
      .product-details .product-info .product-text .quantity-btn .input-group {
        width: 40%;
        float: left;
        margin: 0 15px;
        z-index: 0; }
        .product-details .product-info .product-text .quantity-btn .input-group span {
          background: #f3f3f3;
          border: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          border-radius: 0;
          color: #afaaaa;
          cursor: pointer;
          font-size: 20px; }
          .product-details .product-info .product-text .quantity-btn .input-group span:hover {
            background: #ddd;
            color: #fff;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease; }
        .product-details .product-info .product-text .quantity-btn .input-group .form-control {
          border: 0;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          text-align: center; }
          .product-details .product-info .product-text .quantity-btn .input-group .form-control:hover {
            border: 1px solid #ddd;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease; }
    .product-details .product-info .product-text .p-button a {
      padding: 10px 20px; }
    .product-details .product-info .delivery-text {
      background: #f9f9f9; }
      .product-details .product-info .delivery-text .delivery-option .del-header {
        padding: 10px;
        text-transform: capitalize; }
        .product-details .product-info .delivery-text .delivery-option .del-header p {
          margin-top: 5px; }
      .product-details .product-info .delivery-text .delivery-option .del-body {
        border-top: 1px solid #ddd;
        padding: 10px; }
        .product-details .product-info .delivery-text .delivery-option .del-body ul > li {
          padding: 5px 0; }
          .product-details .product-info .delivery-text .delivery-option .del-body ul > li i {
            vertical-align: middle; }
  .product-details .product-description {
    background: #fff;
    -moz-box-shadow: 0 0 2px #ddd;
    -webkit-box-shadow: 0 0 2px #ddd;
    box-shadow: 0 0 2px #ddd;
    margin: 10px 0; }
    .product-details .product-description .description-header {
      background: #eaeaea;
      padding: 15px; }
    .product-details .product-description .description-body {
      padding: 15px; }
  .product-details .related-product .rp-header {
    padding: 10px 15px; }

.zoomLens {
  width: 20px !important;
  height: 20px !important; }

.cart {
  background: #eaeaea;
  padding-top: 60px; }
  .cart .cart-header {
    background: #ddd;
    color: #000;
    padding: 10px; }
  .cart .cart-item {
    background: #fff;
    -moz-box-shadow: 0 0 2px #f5f5f5;
    -webkit-box-shadow: 0 0 2px #f5f5f5;
    box-shadow: 0 0 2px #f5f5f5;
    margin: 15px 0; }
    .cart .cart-item h4 {
      border-bottom: 1px solid #ddd;
      padding: 10px; }
    .cart .cart-item .item-info {
      padding: 10px; }
      .cart .cart-item .item-info .item-price {
        color: #eb0000;
        font-size: 17px; }
      .cart .cart-item .item-info .input-group span {
        background: #f3f3f3;
        border: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        color: #afaaaa;
        cursor: pointer;
        font-size: 20px; }
        .cart .cart-item .item-info .input-group span:hover {
          background: #ddd;
          color: #fff;
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -ms-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease; }
      .cart .cart-item .item-info .input-group .form-control {
        border: 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        text-align: center; }
        .cart .cart-item .item-info .input-group .form-control:hover {
          border: 1px solid #ddd;
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -ms-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease; }
      .cart .cart-item .item-info .stock {
        margin-top: 5px; }
      .cart .cart-item .item-info .item-icon {
        margin-top: 10px; }
        .cart .cart-item .item-info .item-icon button {
          background: transparent;
          border: 0;
          color: #666;
          font-size: 14px; }
        .cart .cart-item .item-info .item-icon a {
          color: #666;
          font-size: 15px;
          padding-right: 7px; }
          .cart .cart-item .item-info .item-icon a:hover {
            color: #eb0000; }
  .cart .cart-summary {
    background: #fff;
    padding: 10px; }
    .cart .cart-summary .order-price {
      border-bottom: 1px solid #ddd;
      margin: 15px 0;
      padding-bottom: 5px; }
    .cart .cart-summary .order-checkout a {
      padding: 10px 20px; }

/*# sourceMappingURL=theme.css.map */
